# DICTIONARY

In [1]:
#Dictionary works on key value pair
#used for holding many values under a specified variable.
myDic= {} curly bracket
#works on KEYS rather than INDEX

In [2]:
type(myDic)

dict

In [3]:
len(myDic)

0

In [4]:
myDic = {"name":"Burhan" , "age": 23 , "degree": "BE" ,"Postcode":"75210"}

In [5]:
myDic["name"]

'Burhan'

In [6]:
myDic["age"]

23

In [9]:
myDic["degree"]

'BE'

In [10]:
myDic["Postcode"]

'75210'

In [11]:
myDic = {"name":["Burhan","Saad","Usman"] , "age": 23 , "degree": "BE" ,"Postcode":"75210"}

In [12]:
myDic["name"]

['Burhan', 'Saad', 'Usman']

In [13]:
print (myDic)

{'name': ['Burhan', 'Saad', 'Usman'], 'age': 23, 'degree': 'BE', 'Postcode': '75210'}

In [15]:
#METHODS in dictionary are keys() , values () , items ()
#For using variables like c and d alphabetical order should be checked as in this case c comes first and calls key whereas 
# d calls its value
for c,d in myDic.items():
    print(f"the key is {c}, and the value is {d}")

the key is name, and the value is ['Burhan', 'Saad', 'Usman']
the key is age, and the value is 23
the key is degree, and the value is BE
the key is Postcode, and the value is 75210

In [20]:
# to print only keys
for c in myDic.keys():
    print(c)

name
age
degree
Postcode

In [22]:
#to get values directly
for d in myDic.values():
    print(d)

['Burhan', 'Saad', 'Usman']
23
BE
75210

In [24]:
for c in myDic.keys():
    print(myDic[c])

['Burhan', 'Saad', 'Usman']
23
BE
75210

In [ ]:
#HOMEWORK; to run all these functions
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and values
get()	Returns the value of the specified key
items()	Returns a list containing the a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

# list in list

In [25]:
a = [11,22,33,44,55]
b = [66,77,88,99]
c = ["apples","oranges", a,b]

In [26]:
c

['apples', 'oranges', [11, 22, 33, 44, 55], [66, 77, 88, 99]]

In [27]:
c[1]

'oranges'

In [28]:
c[2]

[11, 22, 33, 44, 55]

In [30]:
c[3]

[66, 77, 88, 99]

In [32]:
#to get value of a no in list
c[2][3]

44

# Dictionary In List

In [33]:
aa= [11,22,33,myDic]

In [34]:
aa

[11,
 22,
 33,
 {'name': ['Burhan', 'Saad', 'Usman'],
  'age': 23,
  'degree': 'BE',
  'Postcode': '75210'}]

In [35]:
# variable[index of dic]["key"]
aa[3]["age"]

23

In [41]:
del aa[3]["age"]
aa
#already deleted

KeyError: 'age'

In [42]:
aa

[11,
 22,
 33,
 {'name': ['Burhan', 'Saad', 'Usman'], 'degree': 'BE', 'Postcode': '75210'}]

In [46]:
bb = [111,222,333,{"name":[000,555,666]}]
bb[3]["name"][2]

666

# TUPLE IN LIST HOMEWORK

In [53]:
kk = [12,23,34,45,56,("a","b","c","d")]
kk [5]

('a', 'b', 'c', 'd')

In [54]:
kk[5][1]

'b'

In [71]:
kk[5][3]

'd'

# LIST IN DICTIONARY

In [47]:
cc = {'names': ['a','b','c','d','e','f','g']}
cc['names']

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [48]:
cc['names'][4]

'e'

In [51]:
cc['names'].remove("g")

ValueError: list.remove(x): x not in list

In [52]:
cc

{'names': ['a', 'b', 'c', 'd', 'e', 'f']}

# DICTIONARY IN DICTIONARY

In [55]:
qq = {"names":myDic}
qq

{'names': {'name': ['Burhan', 'Saad', 'Usman'],
  'degree': 'BE',
  'Postcode': '75210'}}

In [56]:
#updating any value of key in Dic
qq['names']['degree']= "ME"

In [57]:
qq

{'names': {'name': ['Burhan', 'Saad', 'Usman'],
  'degree': 'ME',
  'Postcode': '75210'}}

In [58]:
myDic

{'name': ['Burhan', 'Saad', 'Usman'], 'degree': 'ME', 'Postcode': '75210'}

In [59]:
#adding value in a dictionary
qq['hello']="python","piaic","ali"

In [61]:
# value is form of tupple from key 'hello'
qq

{'names': {'name': ['Burhan', 'Saad', 'Usman'],
  'degree': 'ME',
  'Postcode': '75210'},
 'hello': ('python', 'piaic', 'ali')}

In [70]:
qq['hello'][1]

'piaic'

In [72]:
#unpacking tupple
i,o,p = qq['hello']

In [73]:
i

'python'

In [74]:
# append a dictionary in a list
p = []
p.append({1:2,2:3,3:4})

In [76]:
p

[{1: 2, 2: 3, 3: 4}]

In [77]:
p.append({1:2,2:3,3:4})

In [78]:
p

[{1: 2, 2: 3, 3: 4}, {1: 2, 2: 3, 3: 4}]

In [79]:
p.append({1:2,2:3,3:4})
p

[{1: 2, 2: 3, 3: 4}, {1: 2, 2: 3, 3: 4}, {1: 2, 2: 3, 3: 4}]

In [80]:

p.append({1:2,2:3,3:4})

In [81]:
p

[{1: 2, 2: 3, 3: 4},
 {1: 2, 2: 3, 3: 4},
 {1: 2, 2: 3, 3: 4},
 {1: 2, 2: 3, 3: 4}]

# FUNCTIONS

In [82]:
# Functions OR Methods OR Routines (little bit difference in all these three terms)
# for code resibility

In [83]:
a = 10
b = 20
a + b

30

In [90]:
#def used for calling a function
def Add(): #parameter less function
    print(10+20)

In [89]:
Add()

30

In [93]:
def Add(a,b): #parameters
    print(a+b)

In [95]:
Add(100,200)
     #arguments

300

In [96]:
Add(1,1)

2

In [101]:
def fullname(wife_name, husband_name):
    print(f"the name of the female is {wife_name} {husband_name}")

In [102]:
fullname("saleem","sana")#positional arguments

the name of the female is saleem sana

In [103]:
fullname("sana","saleem")

the name of the female is sana saleem

In [104]:
def Add(a,b):
    c =a+b
    return c
    print ("hello") # This line will be skipped

In [106]:
answer = Add(1,2)

In [107]:
answer

3

In [114]:
def Add(a,b):
   
    return a+b

In [115]:
result = Add(3,4)
result

7

In [119]:
result = Add("Muhammad"   ,   "BURHAN")
result

'MuhammadBURHAN'

In [137]:
def operation(a,b,operator):
    if operator == "+":
        c = a+b
        return c
    elif operator == "-":
        c = a-b
        return c
    elif operator == "*":
        c = a*b
        return c
    elif operator == "//":
        c= a//b
        return c
    else:
        print("This operator is not defined")

In [140]:
operation (5,1,"-")

4

In [151]:
def name(f_name, m_name=" ", l_name= " "):
    full_name = f_name + m_name + l_name
    print(full_name)

In [148]:
name("Muhammad","Burhan","Rizwan")

MuhammadBurhanRizwan

In [152]:
name("Burhan")

Burhan