# SLICING

In [1]:
a = [22,33,44,11,77,88,99,111,222,333,444,555,666]
a[1]
#doesn't removes from orignal list unlike pizza slicing :p

33

In [2]:
a[1:4]

[33, 44, 11]

In [3]:
a[4:]

[77, 88, 99, 111, 222, 333, 444, 555, 666]

In [4]:
a[:5]

[22, 33, 44, 11, 77]

In [5]:
a[2:7:2] #[x:x:steps]

[44, 77, 99]

In [6]:
a[2:12:3]

[44, 88, 222, 555]

# TUPPLES

In [7]:

t = ("burhan" , "ali" , 3434)
#SMALL BRACKETS ARE USED IN TUPPLES UNLIKE LISTS
#TUPPLES ARE IMMUTABLE

In [8]:
type(t) #INDICATES TYPE OF VARIABLE T

tuple

In [9]:
t[1]

'ali'

In [10]:
t[1]= "khurram"

TypeError: 'tuple' object does not support item assignment

In [ ]:
a,b,c=t
#UNPACKING VALUES

In [8]:
a

9

In [ ]:
b

In [ ]:
c

In [ ]:
d

In [ ]:
#LISTS CAN BE UNPACKED TOO
list = ["dad","alpha","survey"]

In [ ]:
x,y,z= list

In [ ]:
x

In [ ]:
y

In [ ]:
z

In [ ]:
#ADDING TUPPLES
s = t+t

In [ ]:
s

In [ ]:
q = t+s[1:4]

In [ ]:
q

# LOOPING

# # for loop and while loop

In [1]:
students = ["ali", "shahzad" , "hamza"]
print (students)
#MAKE LIST PLURAL LIKE STUDENTS , CITIES AND FOR LOOPING USE STUDENT , CITY ETC

['ali', 'shahzad', 'hamza']

In [2]:
for student in students:
    print (student)

ali
shahzad
hamza

In [4]:
for a in range(10):
    print(a, end=" ")

0 1 2 3 4 5 6 7 8 9

In [5]:
for a in range(1,10):
    print(a, end=" ")

1 2 3 4 5 6 7 8 9

In [7]:
for a in range(1,10,2):
    print(a, end=" ")

1 3 5 7 9

In [ ]:
for a in range(10,0,-1):
    print(a, end=" ")
    #BACKWARDS LIST

In [ ]:
for a in range(1,10,-1):
    print(a, end=" ")
    #(n-1)

In [6]:
#CLASS TASK
value = int(input("Enter the value whose table is required"))
for a in range (1,11):
    print(f"{value}*{a} = {a*value}")

Enter the value whose table is required3
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30

In [ ]:
value = int(input("Enter the value whose table is required"))
for a in range (1,11):
    if a==6:
        breakvalue = int(input("Enter the value whose table is required"))
for a in range (1,11):
    print(f"{value}*{a} = {a*value}")
    print(f"{value}*{a} = {a*value}")

In [ ]:
value = int(input("Enter the value whose table is required"))
for a in range (1,11):
    if a==5:
        continue 
    print(f"{value}*{a} = {a*value}")
    #CONTINUE skips that value of range

In [11]:
value = int(input("Enter the value whose table is required"))
r = int(input("Enter the required range of the table"))
for a in range (1,r+1): #since (n-1) therefore n-1+1=n
    print(f"{value}*{a} = {a*value}")

Enter the value whose table is required14
Enter the required range of the table13
14*1 = 14
14*2 = 28
14*3 = 42
14*4 = 56
14*5 = 70
14*6 = 84
14*7 = 98
14*8 = 112
14*9 = 126
14*10 = 140
14*11 = 154
14*12 = 168
14*13 = 182

In [18]:
#NESTED LOOP
first_names = ["BlueRay ", "Upchuck ", "Lojack ", "Gizmo ", "Do-Rag "] 
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " + a_last_name)

In [19]:
first_names = ["a","b","c"]
last_names = ["1","2","3","4"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " + a_last_name) 
full_names

['a 1',
 'a 2',
 'a 3',
 'a 4',
 'b 1',
 'b 2',
 'b 3',
 'b 4',
 'c 1',
 'c 2',
 'c 3',
 'c 4']

In [23]:
table_numbers = int(input("Enter No range whose table is required"))
for table_number in range (2,9):
    for num in range (1,11):
        print(f"{table_number} * {num} = {table_number*num}")

Enter No whose table is required2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80