In [1]:
st1 = "Ahmed"
st2 = "Uzair"
st3 = "Fahad"
st = ["Ahmed","Uzair","Fahad","Anas","Imran","Ali","Farhan","Farooq"]
# index [     0        1      2       3      4      5      6         7]

In [2]:
len(st)
#LENGTH

8

In [3]:
st[5]

'Ali'

In [4]:
alist = ["string",123.45,65, False]

In [5]:
alist[0]="PAKISTAN" #MUTIBILITY
alist

['PAKISTAN', 123.45, 65, False]

In [6]:
del alist[3] #DEL TAKES INDEX
alist

['PAKISTAN', 123.45, 65]

In [7]:
alist.append("hello world")
alist
#ADD THE VALUE IN VERY LAST

['PAKISTAN', 123.45, 65, 'hello world']

In [8]:
alist.insert(3,"Python Proggramming")
alist

['PAKISTAN', 123.45, 65, 'Python Proggramming', 'hello world']

In [9]:
blist =[11,22,33,44,55,66,77,88,99]

In [10]:
blist.remove(88) # takes value

In [11]:
blist.clear() #REMOVES EVERY MEMBER OF THE LIST
blist

[]

In [12]:
clist =[11,22,22,22,33,22,33,22,44,55]
clist.count(22)

5

In [13]:
clist.count(44) ##COUNT STARTS FROM 1

1

In [14]:
dlist =[11,22,22,22,33,22,33,22,44,55]
dlist.sort()
dlist
#ASCENDING ORDER

[11, 22, 22, 22, 22, 22, 33, 33, 44, 55]

In [15]:
dlist.sort(reverse=True)
dlist
#DESCENDING ORDER

[55, 44, 33, 33, 22, 22, 22, 22, 22, 11]

In [16]:
elist = dlist.copy() #PASS BY VALUE
elist

[55, 44, 33, 33, 22, 22, 22, 22, 22, 11]

In [17]:
list1 = ["ALI","ZEESHAN","BURHAN","JAWAID"]
list1.sort()
list1

['ALI', 'BURHAN', 'JAWAID', 'ZEESHAN']

In [18]:
a = ["apples","bananas","nothing"]

In [19]:
b = a #PASS BY REFERENCE
#CHANGES WILL APPLY ON BOTH A AND B

In [20]:
b

['apples', 'bananas', 'nothing']

In [21]:
#elist = dlist.copy() #PASS BY VALUE
c =a[:]
#SLICING METHOD #VALUE CHANGES IN c BUT NOT IN a

In [22]:
c

['apples', 'bananas', 'nothing']

In [23]:
del a[2]
print(a)

['apples', 'bananas']

In [24]:
print(c)

['apples', 'bananas', 'nothing']

In [25]:
a.insert(2,"grapes")
a

['apples', 'bananas', 'grapes']

In [26]:
a

['apples', 'bananas', 'grapes']

In [27]:
listinlist = [111,222,333,['apples', 'bananas', 'nothing']]

In [28]:
list

list

In [29]:
listinlist[3][1] # 2nd member of 4rth member(list)

'bananas'

In [30]:
listinlist2 =[111,222,333,a]
listinlist2

[111, 222, 333, ['apples', 'bananas', 'grapes']]

In [31]:
listinlist2[3][2]

'grapes'

In [32]:
del listinlist2[3][2]
listinlist2

[111, 222, 333, ['apples', 'bananas']]

# SLICING

In [33]:
listslicing = [1,2,3,4,5,6,7,8,9]
listslicing[2:8]

[3, 4, 5, 6, 7, 8]

In [34]:
listslicing[5:7] #FIRST VALUE IS INCLUDED BUT LAST VALUE IS NOT INCLUDED
# : defines a range

[6, 7]

In [35]:
#RANGE
for a in range (1,10):
    print (a)

1
2
3
4
5
6
7
8
9

In [36]:
#CLASS TASK (to remove by value a value from list within another list)
listx= [1,2,3,["apples","bananas","carrots","gabbage"]]
listx[3].remove("bananas")
listx

[1, 2, 3, ['apples', 'carrots', 'gabbage']]

In [37]:
listx[3].insert(0, " Lemons ")
listx

[1, 2, 3, [' Lemons ', 'apples', 'carrots', 'gabbage']]

# REVERSE INDEXING

In [38]:
#REVERSE INDEXING # Starts with -1 and from RIGHT
rlist = [1,2,3,4,5,6,7,8,9]
#reverse [-9,-8,-7,-6,-5,-4,-3,-2,-1]
rlist[-1]

9

In [39]:
rlist[-6]

4

In [40]:
rlist[-5:-1]

[5, 6, 7, 8]

In [41]:
rlist[-5:] #LAST 5 MEMBERS OF THE LIST WILL BE INCLUDED

[5, 6, 7, 8, 9]

# popping elements

In [42]:
rlist = [1,2,3,4,5,6,7,8,9]
poppedelement=rlist.pop()

In [43]:
rlist

[1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
rlist

[1, 2, 3, 4, 5, 6, 7, 8]

In [45]:
poppedlist.append(rlist.pop(2))
print(rlist)

NameError: name 'poppedlist' is not defined

In [ ]:
#TO_DO LIST
task_completed = str(input(" Enter the completed tasks? ").lower())
if task_completed in to_do_list